<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body class="bg-slate-100 m-0 bg-center bg-no-repeat bg-fixed flex justify-center pt-40">
    <main class="bg-white max-w-sm rounded overflow-hidden shadow-lg flex flex-col ">
        <div class="font-bold text-2xl font-serif flex-1 px-3 pt-3 pb-1 flex justify-center items-center">
            <h3>Update new task</h3> 
        </div>
        <div class="px-3 ">
            <form class="overflow-hidden px-8 pt-6 pb-4 mb-4" method="post" action="/task/update/process?task_id={{.ID}}">
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                    Title
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" placeholder="title" name="title" value="{{.Title}}">
                </div>
                <div class="mb-6">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                    Description
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="description" type="text" placeholder="description" name="description" value="{{.Description}}">
                </div>
                <div class="flex items-center justify-between">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Update Task
                  </button>
                  <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/dashboard">
                    Back
                  </a>
                </div>
              </form>
        </div>
    </main>
</body>
</html>